<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Home  
        link(rel="stylesheet", href="app.css")
    body.layout
        .page
            h1 Hello World!
